<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Clasificador de musica">
    <meta name="author" content="UNSA">

    <title>Clasificador de música</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome.css" rel="stylesheet" type="text/css">
    <!-- jQuery -->
    <script src="/static/vendor/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">

        <div class="row">
            <h1 style="font-weight: bold; text-align: center; margin-top: 40px; margin-bottom: 40px">CLASIFICADOR DE MÚSICA</h1>
        </div>
        <div class="row">
            <div class="col-md-9 col-sm-9">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Audio</th>
                            <th>Genero</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for song in songs %}
                        <tr>
                            <td>{{ song['id'] }}</td>
                            <td>{{ song['filename'] }}</td>
                            <td>
                                <audio controls>
                                    <source src="/static/media/{{song['filename']}}" type="audio/wav">Tu navegador no soporta elementos de audio
                                </audio>
                            </td>
                            <td>
                                {% if song['genre'] == 1 %}
                                    Metal
                                {% elif song['genre'] == 2 %}
                                    Rock
                                {% elif song['genre'] == 3 %}
                                    Pop
                                {% elif song['genre'] == 4 %}
                                    Hip hop
                                {% elif song['genre'] == 5 %}
                                    Electrónica
                                {% elif song['genre'] == 6 %}
                                    Otros
                                {% else %}
                                    Desconocido
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">Más canciones</div>
                        <div class="panel-body">
                            <a class="btn btn-success btn-lg btn-block" href="/agregar" role="button">AGREGAR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
